# Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
env/
venv/
ENV/

# Fichiers de logs
*.log

# Fichiers temporaires
*.tmp
*.swp

# IDEs
.vscode/
.idea/

# Packages et dépendances
*.egg-info/
.eggs/
dist/
build/

# Fichiers spécifiques à pip
pip-log.txt

# Configs secrets / clés
*.env
.env.*

# PyInstaller
*.spec
/dist/
/build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/