h2 {
    color: #ffd966;
}

.card {
    max-width: 400px;
    background: #252525;
    padding: 20px;
    border: 2px solid #000;
    box-shadow: inset 0 0 0 2px #444;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
