<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Inventaire de {{ user.name }}</title>
</head>

<body>
<h2>Inventaire de {{ user.name }}</h2>

<div class="inventory">
    {% for slot in user.inventory[0] %}
        <div class="slot">
            {% if slot != "" and slot is not none %}
                {{ slot.name }} (Col {{ slot.col }})
            {% endif %}
        </div>
    {% endfor %}

</div>

<br>
<a href="/">← Retour</a>
</body>
</html>
